/* Service List ----------------------------------------*/
.service-list {
    background-color: $white-color;
    box-shadow: 0px 10px 30px rgba(175, 175, 175, 0.15);
    padding: 25px 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 20px;
    .box-icon {
        min-width: 60px;
    }
    .box-btn {
        position: absolute;
        top: calc(50% - 28px);
        right: -32px;
        height: 56px;
        line-height: 56px;
        width: 32px;
        text-align: center;
        background-color: $title-color;
        color: $white-color;
        clip-path: path("M0 28C0 43.464 14.3269 56 32 56V0C14.3269 0 0 12.536 0 28Z");
        visibility: hidden;
        transition: 0.3s ease-in-out;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 28px;
            height: 100%;
            background-color: $theme-color;
            clip-path: path("M0 28C0 43.464 12.536 56 28 56V0C12.536 0 0 12.536 0 28Z");
        }
        i {
            position: relative;
            z-index: 3;
            padding-left: 5px;
        }
    }
    .box-title {
        font-weight: 600;
        margin-bottom: 5px;
    }
    &:hover {
        .box-btn {
            right: 0;
            visibility: visible;
        }
    }
    &.active {
        padding: 25px 30px;
        background-color: $theme-color;
        .box-title {
            color: $white-color;
            a:hover {
                color: $title-color;
            }
        }
        .box-text {
            color: $white-color;
        }
        .box-btn {
            color: $title-color;
            right: 0;
            visibility: visible;
            &:before {
                background-color: $white-color;
            }
        }
    }
}

@include md {
    .service-list {
        .box-title {
            font-size: 22px;
        }
    }
}

/* Service carpenter ----------------------------------------*/
.service-carpenter {
    display: flex;
    gap: 20px;
    padding: 30px 25px 25px 30px;
    z-index: 2;
    position: relative;
    box-shadow: 0px 6px 30px rgba(192, 192, 192, 0.2);
    &:before,
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $title-color;
        opacity: 0.9;
        transition: 0.4s ease-in-out;
        z-index: -1;
    }
    &:after {
        background-color: $white-color;
        opacity: 1;
    }
    .box-icon {
        @include equal-size(80px);
        line-height: 74px;
        min-width: 80px;
        text-align: center;
        background-color: $smoke-color2;
        img {
            transition: 0.4s ease-in-out;
        }
    }
    .box-title {
        margin-bottom: 8px;
        font-weight: 600;
    }
    .box-text {
        margin-bottom: 10px;
        transition: 0.4s linear;
    }
    &:hover {
        .box-title {
            color: $white-color;
        }
        .box-text {
            color: $light-color;
        }
        .box-icon {
            img {
                transform: rotateY(180deg);
            }
        }
        &:after {
            transform: scaleY(0);
        }
    }
}

@include md {
    .service-carpenter {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 30px 25px 30px;
    }
}